.adiccion {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
}
.adiccion2 {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
}
.adiccion3 {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
}
.adiccion4 {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
}
.ff{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  align-items: start;
}
.Borrar {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: red;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  color: white;
  cursor: pointer;
  margin-left: auto;

}
.Borrar::after {
  content: '×';
  font-size: 1.5rem;
  position: absolute;
}
body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #ffffff;
}
.Caja {
  margin: auto;
  margin-top: 100px;
  background-color: transparent;
  width: 80%;
  text-align:center;
  border: 2px solid #007bff;
  line-height: 6mm;
  
}
.Titulo {
  padding:1px;
  background-color: lightblue;
  margin-bottom: 10px;
}

.Formulario {
  background-color: #ffffff;
  margin-bottom: 10px;
}